<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Hello! there.This app is created to check the weather information about a specific location.Hope you like it.</p>
        <p>Feel free to check the code here:
        
        <div class="social">
                <a  href="https://github.com/sujanchhetri/weatherpiea" target="_blank">
                    <i class="fa fa-lg fa-github"></i>
                    </a>
                    </div>
        </p>
    
    </div>
    
    {{>footer}}
</body>

</html>