<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>If there is any issue then mail me at
            <div class="social">
                <a class="btn-email" href="mailto:sujjjan11.com" target="_blank">
                    <i class="fa fa-lg fa-envelope"></i>
                    </a></div>
        </p>
    </div>
    
    {{>footer}}
</body>

</html>